header{
    background-color: green;
}

.navbar{
    border: 1px solid red;
}



/* main */
main{
    background-color: lightblue;
    height: 500px;
}

h1{
    border: 1px solid red;
}

.password-generator{
    height: 300px;
}

.linea{
    margin: 10px 0;
    border: solid 1px white;
}
