/* HEADER */

/* -navbar */
/* --logo*/
#header-logo{
    height: 100px;
    width: 200px;
}

/* MAIN */
main{
    background-image: url(../img/bg_image.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

/* -container */
.password-generator{
    background-color: #F67C54;
    padding: 50px 0;
}

/* --generatore */
#generator{
    color: white;
}

.icon-copy:hover .copy{
    visibility: inherit;
}

.icon-copy{
    position: relative;
}

.copy{
    visibility: hidden;
    position: absolute;
    background-color: lightblue;
    left: 100%;
    bottom: 100%;
    color: black;
    border-radius: 10px;
    padding: 1px 3px;
}

/* --linea */
.linea{
    margin: 20px 0;
    border: solid 1px white;
}

.mia{
    background-color: lightblue;
}


